---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import RootLayout from "../../layouts/RootLayout.astro";

const allBlogPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<RootLayout
  title="blog - lukadev"
  description="my thoughts on software development."
  social={{
    title: "blog",
    type: "article",
    url: "https://lukadev.me/blog",
  }}
>
  <Layout>
    <div class="text-center mt-24 mb-16">
      <h1 class="text-5xl font-bold mb-4">blog</h1>
      <p class="text-neutral-400 sm:text-lg mb-6">
        my thoughts on software development.
      </p>
      <div>
        <a
          href="/rss.xml"
          class="inline-flex items-center text-sm font-semibold px-3 py-2.5 border border-neutral-800 hover:bg-neutral-950 transition rounded-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-4 h-4 mr-2"
            ><path d="M4 11a9 9 0 0 1 9 9"></path><path
              d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"
            ></circle></svg
          >
          RSS
        </a>
      </div>
    </div>

    <div class="mb-24">
      {
        allBlogPosts.map((post) => (
          <article class="group pl-4 sm:pl-12 lg:pl-64 py-8 pr-4 relative">
            <div
              aria-hidden="true"
              class="hidden sm:block absolute left-2 lg:left-[12rem] top-[2.5rem] w-[0.5625rem] h-[0.5625rem] rounded-full ring-2 ring-neutral-700"
            />
            <div
              aria-hidden="true"
              class="hidden sm:block absolute left-[0.75rem] lg:left-[12.25rem] top-[3.125rem] -bottom-[2.5rem] w-px bg-neutral-700 group-last:bg-transparent group-last:bg-gradient-to-b group-last:from-neutral-700 group-last:to-transparent group-last:-bottom-2"
            />

            <header>
              <div class="text-sm lg:absolute lg:left-0 mb-2 mt-px lg:w-[10rem] lg:text-right text-neutral-400">
                <time>
                  {post.data.date.toLocaleDateString("en-us", {
                    month: "long",
                    day: "numeric",
                    year: "numeric",
                  })}
                </time>
              </div>
              <h2 class="font-semibold mb-1">{post.data.title}</h2>
            </header>

            <p class="text-neutral-400 mb-3">{post.data.description}</p>

            <div>
              <a href={`/blog/${post.slug}`}>
                <span class="absolute left-0 sm:left-8 lg:left-[14.5rem] right-0 inset-y-3 after:content-[''] after:absolute after:inset-0 after:bg-neutral-950 after:-z-10 after:rounded-md after:opacity-0 after:transition-opacity hover:after:opacity-100" />
                <span class="text-sm font-medium inline-flex items-center">
                  Read more
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="ml-1 -mb-0.5 w-4 h-4"
                  >
                    <path d="m9 18 6-6-6-6" />
                  </svg>
                </span>
              </a>
            </div>
          </article>
        ))
      }
    </div>
  </Layout>
</RootLayout>
