---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Not Found - LukaDev"
  description="This page does not exist"
  mainContainerClass="flex-grow flex items-center"
>
  <div class="w-full">
    <h1 class="mb-4">
      <span class="text-xl tracking-wide font-bold text-blue-400 block">
        404
      </span>
      <span class="text-3xl sm:text-5xl font-medium block">Page Not Found</span>
    </h1>

    <p class="max-w-xs text-xl text-neutral-400">
      The page you were looking for does not exist.
    </p>
  </div>
</Layout>
