---
import BlogLayout from "../layouts/BlogLayout.astro";
import Link from "../components/Link.astro";
---

<BlogLayout title="404" description="page not found.">
  <div
    class="-mt-16 flex h-screen flex-col items-center justify-center text-center"
  >
    <h1 class="mb-6 text-5xl font-bold">404</h1>
    <p class="text-gray-600 dark:text-gray-400">page not found.</p>
    <p><Link href="/">go home</Link></p>
  </div>
</BlogLayout>
