---
import Layout from "../layouts/Layout.astro";
import Side from "../components/home/Side.astro";
import Projects from "../components/home/Projects.astro";
import Blog from "../components/home/Blog.astro";
import Header from "../components/home/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  class="opacity-0 [--nav-height:--spacing(16)] lg:[--nav-height:--spacing(20)]"
  meta={{
    title: {
      htmlTitle: "lukadev",
      ogTitle: "hi, i'm luka.",
    },
    description: "i enjoy building things on the web and roblox.",
  }}
>
  <Header />
  <main class="mx-auto flex max-w-(--breakpoint-xl) flex-col px-6 lg:flex-row">
    <Side />
    <div class="grow pb-24 pt-4" id="sections">
      <div class="-mx-3 mb-16 space-y-3 md:mx-0 md:space-y-8 lg:space-y-12">
        <Projects />
        <Blog />
      </div>
      <Footer />
    </div>
  </main>
</Layout>

<script>
  import { animate } from "motion/mini";
  import { stagger } from "motion";

  const reduceMotion = window.matchMedia(
    "(prefers-reduced-motion: reduce)",
  ).matches;

  const flyUp = reduceMotion
    ? { opacity: [0, 1] }
    : {
        transform: ["translateY(16px)", "translateY(0px)"],
        opacity: [0, 1],
      };

  const sections = document.getElementById("sections")!;
  sections.style.opacity = "0";
  document.body.style.opacity = "1";

  const titleAnim = animate("#side-title > *", flyUp, {
    duration: 0.4,
    delay: stagger(0.15),
  });
  animate("#side-description", flyUp, {
    duration: 0.6,
    delay: 0.55,
  });
  animate("#side-links > * > *", flyUp, {
    duration: 0.6,
    delay: stagger(0.1, { startDelay: 0.9 }),
  });

  animate(
    "#header-content > *",
    reduceMotion
      ? { opacity: [0, 1] }
      : {
          transform: ["translateY(8px)", "translateY(0px)"],
          opacity: [0, 1],
        },
    {
      duration: 0.6,
      delay: stagger(0.1, { startDelay: 0.9 }),
    },
  );

  // the page scrolls a little (on Chromium) if this is not here for some reason
  await titleAnim;
  sections.style.opacity = "1";

  animate("#sections > *, #sections section, #sections article", flyUp, {
    duration: 0.6,
    delay: stagger(0.05),
  });
</script>
