---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="grow rounded-2xl bg-gray-100 px-6 py-8 md:rounded-3xl md:p-12 dark:bg-gray-800"
>
  <h2 class="text-2xl font-bold">{title}</h2>
  <slot />
</section>
