---
import SocialLink from "./SocialLink.astro";
import GitHub from "../icons/GitHub.astro";
import Bluesky from "../icons/Bluesky.astro";
import BuyMeACoffee from "../icons/BuyMeACoffee.astro";
import Mail from "../icons/Mail.astro";
---

<section
  class:list={[
    "top-0 flex flex-col py-16",
    "lg:sticky lg:-ml-3 lg:-mt-[--nav-height] lg:mr-12 lg:h-screen lg:w-96 lg:overflow-y-auto lg:pb-24 lg:pl-3 lg:pr-16 lg:pt-[calc(var(--nav-height)+theme(spacing.16))]",
  ]}
>
  <h1
    class="mb-2 text-3xl font-bold text-gray-700 lg:mb-3 lg:text-4xl dark:text-gray-300"
    id="side-title"
  >
    <span class="inline-block">hi,</span>
    <span class="inline-block">i'm</span>
    <span class="inline-block">
      <span class="text-dark dark:text-light">luka</span>.
    </span>
  </h1>
  <p
    class="mb-16 max-w-64 text-lg font-medium text-gray-600 lg:text-xl dark:text-gray-400"
    id="side-description"
  >
    i enjoy building things on the web and roblox.
  </p>

  <div class="lg:mt-auto" id="side-links">
    <div class="mb-4 lg:space-y-1">
      <SocialLink
        title="github"
        username="lukadev-0"
        href="https://github.com/lukadev-0"
      >
        <GitHub class="h-5" aria-hidden="true" />
      </SocialLink>
      <SocialLink
        title="bluesky"
        username="lukadev.me"
        href="https://bsky.app/profile/lukadev.me"
      >
        <Bluesky class="h-5" aria-hidden="true" />
      </SocialLink>
      <SocialLink
        title="mailto"
        username="hi@lukadev.me"
        href="mailto:hi@lukadev.me"
      >
        <Mail class="h-5" aria-hidden="true" />
      </SocialLink>
    </div>

    <div>
      <div class="mb-1 text-sm font-bold text-gray-700 dark:text-gray-100">
        support me
      </div>
      <SocialLink
        title="buy me a coffee"
        username="lukadev"
        href="https://buymeacoffe.com/lukadev"
      >
        <BuyMeACoffee class="h-5" aria-hidden="true" />
      </SocialLink>
    </div>
  </div>
</section>
