---
import X from "./social-icons/X.astro";
import GitHub from "./social-icons/GitHub.astro";
import Mastodon from "./social-icons/Mastodon.astro";
import BMC from "./social-icons/BMC.astro";
---

<footer class="border-t border-t-zinc-800 pb-16 pt-10 text-sm">
  <div class="mb-6 flex w-full items-center space-x-3">
    <a
      aria-label="X"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://twitter.com/lukadev_0"
    >
      <X />
    </a>
    <a
      aria-label="GitHub"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://github.com/lukadev-0"
    >
      <GitHub />
    </a>
    <a
      aria-label="Mastodon"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://fosstodon.org/@lukadev"
    >
      <Mastodon />
    </a>

    <a
      class="!ml-auto inline-flex h-9 items-center divide-x divide-zinc-800 rounded bg-zinc-900/60 transition hover:bg-zinc-900/50"
      target="_blank"
      rel="noreferrer noopener"
      href="https://buymeacoffee.com/lukadev"
    >
      <span class="px-3 font-medium">Buy Me a Coffee</span>
      <span class="flex w-9 justify-center">
        <span class="-ml-[0.2rem]">
          <BMC />
        </span>
      </span>
    </a>
  </div>

  <p class="mb-1 text-zinc-400">
    copyright {new Date().getFullYear()} lukadev, licensed under the Apache License
    2.0
  </p>

  <p class="mb-6 text-zinc-400">
    website built with <a
      href="https://astro.build/"
      target="_blank"
      rel="noreferrer noopener"
      class="font-medium text-light underline decoration-zinc-400 underline-offset-4 hover:decoration-light"
    >
      Astro
    </a>, powered by <a
      href="https://docs.github.com/en/pages"
      target="_blank"
      rel="noreferrer noopener"
      class="underline-zinc-400 font-medium text-light underline decoration-zinc-400 underline-offset-4 hover:decoration-light"
    >
      GitHub Pages
    </a>
  </p>

  <p>
    <a
      href="https://github.com/lukadev-0/personal-website"
      target="_blank"
      rel="noreferrer noopener"
      class="underline-zinc-400 font-medium text-light underline decoration-zinc-400 underline-offset-4 hover:decoration-light"
    >
      view the source on GitHub</a
    >
  </p>
</footer>
