<footer class="border-t border-neutral-800 max-w-screen-lg mx-auto px-4 py-8">
  <p class="text-neutral-400">
    Built with <a class="text-white" href="https://astro.build/">Astro</a>,
    powered by <a class="text-white" href="https://pages.github.com/">GitHub Pages</a>.
  </p>
</footer>
