<footer class="border-t border-neutral-950 py-8">
  <div class="max-w-screen-lg mx-auto px-4">
    <p class="text-neutral-400">
      Built with <a class="text-white" href="https://astro.build/">Astro</a>,
      powered by <a class="text-white" href="https://pages.github.com/"
        >GitHub Pages</a
      >.
    </p>
  </div>
</footer>
