---
import Link from "./Link.astro";
---

<footer class="py-8 text-sm font-medium text-gray-600 dark:text-gray-400">
  <p>
    copyright {new Date().getFullYear()} lukadev
  </p>
  <p class="mb-4">licensed under the Apache License 2.0.</p>
  <p class="mb-4">
    website built with <Link href="https://astro.build/">Astro</Link>, powered
    by <Link href="https://pages.cloudflare.com/">Cloudflare</Link>.
  </p>
  <p>
    <Link href="https://github.com/lukadev-0/personal-website">
      view the source on github
    </Link>
  </p>
</footer>
