---
import X from "./social-icons/X.astro";
import GitHub from "./social-icons/GitHub.astro";
import Mastodon from "./social-icons/Mastodon.astro";
---

<footer class="border-t border-t-zinc-800 py-12 text-sm">
  <div class="mb-6 flex space-x-3">
    <a
      aria-label="X"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://twitter.com/lukadev_0"
    >
      <X />
    </a>
    <a
      aria-label="GitHub"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://github.com/lukadev-0"
    >
      <GitHub />
    </a>
    <a
      aria-label="Mastodon"
      target="_blank"
      rel="noreferrer noopener"
      class="text-zinc-400 hover:text-light"
      href="https://fosstodon.org/@lukadev"
    >
      <Mastodon />
    </a>
  </div>

  <p class="mb-1 text-zinc-400">
    copyright {new Date().getFullYear()} lukadev, licensed under the Apache License
    2.0
  </p>

  <p class="mb-6 text-zinc-400">
    website built with <a
      href="https://astro.build/"
      target="_blank"
      rel="noreferrer noopener"
      class="font-medium text-light underline decoration-zinc-400 underline-offset-4 hover:decoration-light"
    >
      Astro
    </a>, powered by <a
      href="https://docs.github.com/en/pages"
      target="_blank"
      rel="noreferrer noopener"
      class="underline-zinc-400 font-medium text-light underline decoration-zinc-400 underline-offset-4 hover:decoration-light"
    >
      GitHub Pages
    </a>
  </p>

  <p>
    <a
      href="https://github.com/lukadev-0/personal-website"
      target="_blank"
      rel="noreferrer noopener"
      class="underline-zinc-400 font-medium text-light underline decoration-zinc-400 underline-offset-4 hover:decoration-light"
    >
      view the source on GitHub</a
    >
  </p>
</footer>
