---
import FullLogo from "./FullLogo.astro";
import { Menu } from "./Menu";
---

<header class="relative z-10 flex h-16 items-center">
  <a
    href="#main-content"
    class="sr-only rounded bg-zinc-900 text-sm font-medium outline-none ring-light/50 focus:not-sr-only focus:fixed focus:px-2 focus:py-1.5 focus:ring-2"
  >
    Jump to main content
  </a>
  <a href="/" aria-label="LukaDev">
    <FullLogo class="h-5" aria-hidden="true" />
  </a>
  <nav class="ml-auto">
    <div class="hidden space-x-4 sm:flex">
      <a class="font-medium text-zinc-400 hover:text-zinc-200" href="/">
        home
      </a>
      <a
        class="font-medium text-zinc-400 hover:text-zinc-200"
        href="/#projects"
      >
        projects
      </a>
      <a class="font-medium text-zinc-400 hover:text-zinc-200" href="/blog">
        blog
      </a>
    </div>
    <div class="block h-6 w-6 sm:hidden">
      <Menu client:only="react" logo={undefined}>
        <style is:global>
          @keyframes menu-fade-in {
            from {
              opacity: 0;
            }
          }

          @keyframes menu-fade-out {
            to {
              opacity: 0;
            }
          }

          .menu-overlay[data-state="open"] {
            animation: menu-fade-in 300ms ease-out;
          }

          .menu-overlay[data-state="closed"] {
            animation: menu-fade-out 300ms ease-out;
          }

          @keyframes menu-slide-in {
            from {
              transform: translateX(-100%);
            }
          }

          @keyframes menu-slide-out {
            to {
              transform: translateX(-100%);
            }
          }

          .menu-content[data-state="open"] {
            animation: menu-slide-in 300ms ease-out;
          }

          .menu-content[data-state="closed"] {
            animation: menu-slide-out 300ms ease-out;
          }
        </style>

        <FullLogo slot="logo" class="h-5" />
        <nav class="flex flex-col px-2">
          <a
            class="flex h-10 items-center rounded px-4 font-medium text-zinc-400 hover:bg-zinc-900/40 hover:text-light"
            href="/"
          >
            home
          </a>
          <a
            class="flex h-10 items-center rounded px-4 font-medium text-zinc-400 hover:bg-zinc-900/40 hover:text-light"
            href="/#projects"
          >
            projects
          </a>
          <a
            class="flex h-10 items-center rounded px-4 font-medium text-zinc-400 hover:bg-zinc-900/40 hover:text-light"
            href="/blog"
          >
            blog
          </a>
        </nav>
      </Menu>
    </div>
  </nav>
</header>
