---
import FullLogo from "./FullLogo.astro";
import GitHub from "./social-icons/GitHub.astro";
import Mastodon from "./social-icons/Mastodon.astro";
import X from "./social-icons/X.astro";
---

<header class="fixed top-0 w-full bg-black/80 backdrop-blur-sm z-50">
  <div class="mx-auto h-16 max-w-screen-lg flex items-center relative px-4">
    <a
      href="#main-content"
      class="sr-only focus:not-sr-only focus:absolute bg-white text-black focus:px-2 focus:py-1 font-semibold inline-block"
    >
      Skip navigation
    </a>

    <a href="/" aria-label="LukaDev Homepage">
      <FullLogo aria-hidden="true" class="h-6 sm:h-8" />
    </a>

    <a
      href="https://github.com/lukadev-0"
      aria-label="GitHub"
      class="ml-auto hover:text-neutral-400"
      target="_blank"
      rel="noopener noreferrer"
    >
      <GitHub />
    </a>

    <a
      href="https://x.com/lukadev_0"
      aria-label="X"
      class="hover:text-neutral-400 ml-2 sm:ml-4"
      target="_blank"
      rel="noopener noreferrer"
    >
      <X />
    </a>

    <a
      href="https://fosstodon.org/@lukadev"
      aria-label="Mastodon"
      class="hover:text-neutral-400 ml-2 sm:ml-4"
      target="_blank"
      rel="noopener noreferrer me"
    >
      <Mastodon />
    </a>
  </div>
</header>
