@import "tailwindcss";

@config '../tailwind.config.mjs';

@theme {
  --font-sans: "Plus Jakarta Sans Variable", ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --color-gray-50: #efeffa;
  --color-gray-100: #e3e3f2;
  --color-gray-200: #dbdbe7;
  --color-gray-300: #d1d1dd;
  --color-gray-400: #b0b0be;
  --color-gray-500: #8e8ea1;
  --color-gray-600: #4c4c5c;
  --color-gray-700: #2b2b35;
  --color-gray-800: #14141b;
  --color-gray-900: #0e0e12;
  --color-gray-950: #060609;

  --color-dark: #060609;
  --color-light: #efeffa;
}

@layer base {
  .astro-code {
    background-color: --alpha(var(--color-gray-200) / 50%) !important;
    border: 1px solid var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }

    .astro-code {
      background-color: var(--color-gray-800) !important;
      border: 1px solid var(--color-gray-700);
    }
  }
}
